<% script('js/helper.js') %>
<div class="modal fade" id="modalConfirm">
  <div class="modal-dialog">
    <div class="modal-content">
    
		  <div class="modal-header">
		    <h3>Confirmer</h3>
		  </div>
		  <div class="modal-body">
		    <p class="msg"></p>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn" data-dismiss="modal">Fermer</a>
		    <a href="#" class="btn btn-blue">Confirmer</a>
		  </div>
		</div>
  </div>		  
</div>