  <!-- Headline -->
  <div id="headline">
    <img src="images/headline-logo.png" id="headline-logo" width="600"/>
    
    <div id="ticker" class="alert alert-info pull-right">
      <span><%= SARAH.ConfigManager.getTicker() %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><i>&nbsp;&#8221;</i>
    </div>
  </div>
