<% if (modules){ %>
<div class="row-fluid">
  <% var i = 0; %>
  <% Object.keys(modules).forEach(function(key){ %>
  <% var module = modules[key]; %>
  <% if (i++ > 2){ i = 1; %>
    </div><div class="row-fluid">
  <% } %>
  <div class="span4 plugin">
    <h3><%= key %> </h3><a name="<%= key %>"></a>
	  <p><%= module.description %></p>
    <%- partial('fragments/modal', { 'type' : type, 'key' : key, 'module' : module }) %>
  </div><!--/span-->
  <% }) %>
</div><!--/row-->
<% } %>