<div class="popover" id="popStore">
  <div class="arrow"></div>
  <div class="popover-inner">
    <h3 class="popover-title"></h3>
    <div class="popover-content"><p></p></div>
  </div>
</div>

<script type="text/javascript" language="JavaScript">
  $(document).ready(function(){
    
    $('#storeMenu').popover({ 
      title:   'Nouveautés',
      content: 'Téléchargez de nouveaux scripts dans le store !',
      placement: 'bottom',
      template: '#popStore'
    }) 
    
    $('#storeMenu').popover('show');
  });
</script>