<% layout('layouts/layout') %>
<% var plugins = SARAH.PluginManager.getPlugins(); %>
<% var plugin  = plugins[name] %>
<div class="stretch col-md-8 content">
  <h1 id="plugin-title"><%= plugin.name %></h1>
  

</div>
