#editor {
  width: 900px;
  margin-left: -450px;
}
#editor .modal-body { padding: 0 15px 0 0; }
#editor .CodeMirror { height: 350px; }

.CodeMirror {
  border: 1px solid #eee;
  height: auto; 
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
