.page-gridster {
  padding-left:  0px;
  padding-right: 0px;
  overflow-x: auto;
}

.gridster > UL {
  list-style-type: none;
}

.gridster > UL > LI .plugin-gridster {
  height: 100%;
  position: relative;
}

.gridster > UL > LI .front,
.gridster > UL > LI .back {

}
.gridster > UL > LI .flip {
  position: absolute;
  top: 4px; right: 6px;
  z-index: 1;
}

.gridster > UL > LI .flip-body { 
  padding: 10px;
}

.gridster > UL > LI H3 {
  margin-top: 0
}

.gridster > UL > LI .plugin-footer-left {
  position: absolute;
  bottom: 0px; left: 10px;
}

.gridster > UL > LI .plugin-footer-right {
  position: absolute;
  bottom: 0px; right: 10px;
}

.gridster LI[data-sizex="1"] .plugin-footer-left SPAN{
  display: none;
}


/* ------------------------------------------ */
/*  FLIP CONTAINER                            */
/* ------------------------------------------ */

/* entire container, keeps perspective */
.flip-container {
          perspective: 1000;
     -moz-perspective: 1000;
  -webkit-perspective: 1000;  
}

/* flip the pane when hovered */
/*.flip-container:hover .flipper,*/ 
.flip-container.hover .flipper {
          transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.ie .flip-container.hover .flipper .front{ display: none; }

/* flip speed goes here */
.flipper {
          transition: 0.6s;
     -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  
          transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  
  height: 100%;
  position: relative;
}

/* hide back of pane during swap */
.front, .back { 
          backface-visibility: hidden;
     -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
}

/* front pane, placed above back */
.front { z-index: 2; }

/* back, initially hidden pane */
.back { 
          transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}