@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../font/opensans300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../font/opensans700.woff) format('woff');
}

BODY {
  padding-bottom: 0;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffffff 13%, #e6dec5 66%); /* FF3.6+ */
  background: -webkit-linear-gradient(-45deg,  #ffffff 13%,#e6dec5 66%); /* Chrome10+,Safari5.1+ */  
  background: -ms-linear-gradient(-45deg,  #ffffff 13%,#e6dec5 66%); /* IE10+ */
  background: linear-gradient(135deg,  #ffffff 13%,#e6dec5 66%); /* W3C */
}

#headline {
  margin: 20px 10px 60px 10px;
}

.container {
  background: #FFFFFF;
  padding: 25px 40px 20px 40px;
  border: 1px solid #C4B993;
          border-radius: 5px;
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.page H2, .page H3, .page H4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* ------------------------------------------ */
/*  GRIDSTER l&F                              */
/* ------------------------------------------ */

.page .gridster-header {
  padding: 0px 10px;
}

.page-gridster {
  margin-bottom: 80px;
}

.gridster .btn {
  color: #6A5F4D;
  background: #EDEDE5;  border-color: #D8D3BF;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.plugin-gridster,
.plugin-gridster .front,
.plugin-gridster .back {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #FFF;
  color: #6A5F4D;
  font-family: 'Open Sans Condensed', sans-serif;
}
.plugin-gridster I {
  margin-top: 3px;
}

.plugin-gridster .front,
.plugin-gridster .back {
          box-shadow: 1px 1px 4px 0px #959595;
     -moz-box-shadow: 1px 1px 4px 0px #959595;
  -webkit-box-shadow: 1px 1px 4px 0px #959595;
}

.plugin-gridster .overflow {
  height: 70px;
  overflow-y: auto;  
}

LI[data-sizey="2"] .overflow {
  height: 250px;
}

/* ------------------------------------------ */
/*  SKIN                                       */
/* ------------------------------------------ */

.plugin-gridster H3.default,
.plugin-gridster.default H3 {
  color: #FFF;
  background-color: #33A3EC;
  border-bottom: 1px solid #43B2FE;
  margin: -10px -10px 10px -10px;
  font-size: 16px; line-height: 28px; padding: 0px 6px;
  
          border-radius: 2px 2px 0px 0px;
     -moz-border-radius: 2px 2px 0px 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
}


.plugin-gridster.orange H3 {
  background-color: #E76738;
  border-bottom-color: #D36A2E;
}

.plugin-gridster.green H3 {
  background-color: #63B479;
  border-bottom-color: #4CA869;
}

.plugin-gridster.yellow H3 {
  background-color: #EECA5A;
  border-bottom-color: #EAC249;
}

.plugin-gridster.brown H3 {
  background-color: #7A6550;
  border-bottom-color: #5F4E34;
}

.plugin-gridster.brown H3 {
  background-color: #7A6550;
  border-bottom-color: #5F4E34;
}

.plugin-gridster.pink H3 {
  background-color: #F3635B;
  border-bottom-color: #E55F58;
}

.plugin-gridster.info H2 {
  font-weight: 300;
  margin-top: 0;
  margin: -10px -10px 10px -10px;
  padding: 0px 10px 0px 20px;
  line-height: 80px;
  color: #FFFFFF;
  background-color: #7A6550;
}

/* ------------------------------------------ */
/*  FIX                                       */
/* ------------------------------------------ */


.modal FORM {
  margin-bottom: 0;
}

.page  H3,
.modal H3 {
  text-transform: capitalize;
}

LABEL {
  font-weight: bold;
  text-transform: capitalize;
}

FOOTER {
  background: #1B1B1B; color: #EEEEEE;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}
FOOTER P { margin-bottom: 0; }
.control-label.tiny{
  width: 100px;
}

/* ------------------------------------------ */

.overflow::-webkit-scrollbar{
    width: 6px;
    height:6px;
    background-color:#fff;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
.overflow::-webkit-scrollbar:hover{
    background-color:#eee;
}
.overflow::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#666;
}
.overflow::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width: 0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
.overflow::-webkit-scrollbar-thumb:hover{
    background-color: #bbb;
}
.overflow::-webkit-scrollbar-thumb:active{
    background-color:#888;
}

/* ------------------------------------------ */
/*  TICKER                                    */
/* ------------------------------------------ */

#ticker {
  font-weight: bold;
  position: absolute;
  box-shadow: 0px 0px 2px 2px white;
  top: 64px; right: 64px;
}

  
#ticker SPAN {  font-family: 'Open Sans Condensed', sans-serif; font-weight: normal; }

#ticker I { color: #A0C7DA; font-size: 80px; position: absolute; top: 24px; right: 10px; }



/* ------------------------------------------ */
/*  POPOVER                                   */
/* ------------------------------------------ */

#popStore {  border: 1px solid #468847; position: fixed; }
#popStore .arrow { border-bottom-color: #468847; }
#popStore .popover-title { 
  color: #468847;
  font-weight: bold;
  background-color: #DFF0D8; 
  border-bottom-color: #DFF0D8;
}

#popInfo {  border: 1px solid #4E93B5; }
#popInfo .arrow { border-bottom-color: #4E93B5; }
#popInfo .popover-title { 
  color: #4E93B5;
  font-weight: bold;
  background-color: #DCEEF7; 
  border-bottom-color: #A3C8DB;
}
